.firstpage_section {
    display: flex;
    overflow: hidden;
        /* background-color: rgb(48, 48, 48); */
}

.left_nav a {
    text-decoration: none;
}

.left_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(48, 48, 48);
    height: 100vh;
    padding: 5px;
    width: 300px;
    position: relative;
}

.left_nav button {
    border: 2px solid black;
    width: 90%;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    color: darkgrey;
}

.left_nav a {
    margin: 10px;
    width: 90%;
    padding: 5px;
    border-radius: 8px;
    font-size: 19px;
}

.left_nav a:hover {
    background-color: black;
}



.direct_msg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
}

.icon {
    font-size: 23px;
    cursor: pointer;
}

.iconDiv::before {
    content: 'Create DM';
    position: absolute;
    top: -20px;
    right: 1px;
    background-color: rgb(62, 61, 61);
    color: aliceblue;
    display: none;
    padding: 5px;
    border-radius: 4px;
}

.iconDiv:hover::before {
    display: block;
}

/* -------------------------- right nav */

.firsPage_right_nav {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
}

.right_nav_header {
    background-color: rgb(62, 61, 61);
    color: aliceblue;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.leftNav {
    display: flex;
    align-items: center;
}

.leftNav a {
    margin: 0 15px;
    color: darkgray;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

.leftNav a:hover {
    background-color: rgb(95, 95, 95);
}





/*---------------------------------- Right Nav */

.rightNav button {
    margin: 0 15px;
    background-color: transparent;
    border: none;
    color: azure;
    position: relative;
    transition: all 1s ease ;
}

.addGrp::before {
    content: 'New Group DM';
    position: absolute;
    top: -5px;
    left: -80px;
    color: aliceblue;
    font-size: 12px;
    font-weight: 500;
    display: none;
    background-color: rgb(96, 96, 96)
}

.addGrp:focus {
    outline: none;
    border: none;
}

.addGrp:hover::before {
    display: block;
}

.inbox::before {
    content: 'Inbox';
    position: absolute;
    top: -5px;
    left: -35px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    display: none;
    background-color: rgb(96, 96, 96);
    padding: 2px;
}

.inbox:focus {
    outline: none;
    border: none;
}

.inbox:hover::before {
    display: block;
}

.help:before {
    content: 'Help';
    position: absolute;
    bottom: -5px;
    left: -30px;
    color: aliceblue;
    /* width: 100%; */
    font-size: 14px;
    font-weight: 500;
    display: none;
    background-color: rgb(96, 96, 96);

}

.help:focus {
    outline: none;
    border: none;
}

.help:hover::before {
    display: block;
}

.selectFr {
    position: absolute;
    right: 172px;
    top: 10px;
    width: 400px;
    height: 300px;
    background-color: rgb(59, 57, 57);
    z-index: 100;
    padding: 5px;
    box-shadow: 1px 2px 3px lightslategrey,-1px -2px 3px lightslategrey;
    border-radius: 5px;
}

.noFrImg {
    width: 200px;
    margin: 10px;
}

.addFrd {
    background-color: rgb(70, 66, 66);
    padding: 5px;
    display: block;
    width: 140px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.addFrd:hover {
    text-decoration: none;
    color: aquamarine;
    background-color:rgb(17, 21, 25);
}

.selectFr button {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: brown;
}

.bottom_user_state {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(91, 91, 91);
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 100%;
    padding: 5px;
}

/* .bottom_user_state button {
    width: 60px;
} */


.bottom_user_state .user_state {
    width: 50px;
    height: 50px;
    background: url('https://umanime.club/img/UMAnime_discord.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: none;
    outline: none;
}

.bottom_user_state .user_name {
    width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    color: lightblue;
    background-color: transparent;
}


.bottom_user_state .mike_icon {
    border: none;
    outline: none;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px;
}

.bottom_user_state .mike_icon:hover {
    background-color: rgb(74, 74, 74);
    color: aliceblue;
}

.bottom_user_state .speaker {
    border: none;
    margin: 5px;
    outline: none;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.bottom_user_state .speaker:hover {
    background-color: rgb(74, 74, 74);
    color: aliceblue;
}

.bottom_user_state .sittings {
    border: none;
    margin: 5px;
    outline: none;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bottom_user_state .sittings:hover {
    background-color: rgb(74, 74, 74);
    color: aliceblue;
}

.bottom_user_state .menu button{
    background-color: rgb(67, 67, 67);
    color: white;
    padding: 5px;
    border: none;

}

.menu .closeMenu {
    position: absolute;
    top: -13px;
    right: -16px;
    width: 30px;
    height: 30px;
    /* border: 1px solid white!important; */
    border-radius: 50%;
}

.bottom_user_state .openMenu {
    position: absolute;
    top: -9px;
    left: 30px;
    color: aliceblue;
    cursor: pointer;
    animation-name: arrowMenu;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes arrowMenu {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}