* {
    box-sizing: border-box;
}

.userSection {
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



.servers {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 65, 65);
    height: 100vh;
    align-items: center;
    padding: 5px;
}

.servers a {
    padding: 5px;
    margin: 5px;
    /* background-color: aliceblue; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: all .5s ease;
}

.servers a::after {
    content: '';
    width: 5px;
    height: 30%;
    background-color: aliceblue;
    position: absolute;
    top: 30%;
    left: -10px;
    transition: all .5s ease;
    border-radius: 50%;
}

.servers a:hover::after {
    height: 70%;
    top: 20%;
}

.servers a:hover {
    border-radius: 30%;
}

.servers a img {
    width: 90%;
}

.servers .userhome_link{
    background: url('https://img.freepik.com/free-vector/modern-badge-discord-icon_578229-169.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.servers .server1{
    background: url('https://1.bp.blogspot.com/-l-rMrW2JSkg/WodHpsMgYzI/AAAAAAAACa0/bSvAkiGfCxAgolIF_Sy7rNPisnD-Kz5xgCLcBGAs/s1600/%25D8%25AC%25D8%25A7%25D9%2581%25D8%25A7.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.rightSide {
    flex: 1;
}

.addserver {
    padding: 5px;
    font-size: 20px;
    border: none;
    /* background-color: transparent; */
    color: aliceblue;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    transition: all .5s ease;
    position: relative;
    z-index: 100;
}

.addserver:focus {
    outline: none;
    border: none;
}

.addserver:hover {
    background-color: rgb(0, 217, 145);
    border-radius: 30%;
    color: black;
}

.addserver::after {
    content: 'Add Server';
    position: absolute;
    top: 10px;
    right: -100px;
    transition: all .5s ease;
    background-color: lightslategrey;
    border-radius: 3px;
    padding: 2px;
    display: none;
}

.addserver:hover::after {
    display: block;
}

.home {
    padding: 5px;
    margin: 5px;
    background-color: rgb(145, 20, 20);
    color: azure;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.home:hover {
    text-decoration: none;
    color: beige;
}


/* Modal */
.innermodal {
    text-align: center  ;
}

.modal_container {
    /* background-color: blue; */
    transition: all 1s ease;
}

.modal_links {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
    /* align-items: flex-start; */
}

.modal_links a {
    text-decoration: none;
    font-size: 19px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-scrollbar {
    /* width: 10px; */
    background-color: black;
    height: 1px;
} 

.modal_links a img {
    width: 50px;
}