@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  /* font-family: Roboto Mono; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app{
  background: url('https://i.insider.com/617c8e7c1037b10018151217?width=700') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 500px){
  .app {
    background-position: top 25% right 25%;
  }
}